<li><a href="/logout">Logout</a></li>
<li><a href="/post/:id/profile">Edit Profile</a></li>

 <h2>Welcome <%= @user.username %></h2>
 <h2>Tell us about yourself for today</h2>

 <!-- IF the current user has successfully wanted to post a comment then  -->
<% if @posts != nil %>
	<% @totalposts.each do |post| %>
		<div id = "post.id"><%= post.user_id %></div>
		<div id = "post.id"><%= post.title %></div>
		<div id = "post.id"><%= post.post[0,140] %></div>
	<% end %>
<% else %>
	<div id = "create a new post">Looks like you don't have a thread of posts, let's change that for you!</div>
<% end %>

<div class = "more post"><%=  @pcantsign %></div>
<div class = "more post"><%= @characteroverload%></div>

<form action = "/post/:user_id/new" method = "POST">
	<% if @posts[0] != nil %>
		<div id = "no_show" name = "user_id"><% @posts[0].user_id %></div>
		<input type = "text" name = "title">
		<textarea type = "text" placeholder = "Tell us how your day was" name = "userbody"></textarea>
		<input type = "submit">
	<% else %>
		<div id = "headline">Create A Brand New Post <%= @user.username %>!</div>
		<input type = "text" name = "title">
		<textarea type = "text" placeholder = "Tell us how your day was" name = "userbody"></textarea>
		<input type = "submit">
	<% end %>
</form>
