<li><a href="/logout">Logout</a></li>
<li><a href="/post/profile">Edit Profile</a></li>

 <h2>Welcome <%= @user.username %></h2>
 <h2>Tell us about yourself for today</h2>
 # <!-- IF the current user has successfully wanted to post a comment then  -->
<% @posts.each do |post| %>
	<div id = "post.id"><%= post.id %></div>
	<div id = "post.id"><%= post.title %></div>
	<div id = "post.id"><%= post.post %></div>
<% end %>

<div class = "more post"><%=  @pcantsign %></div>	

<form action = "/post/:user_id/new" method = "POST">
	<div id = "no_show" name = "user_id"><% @posts[0].user_id %></div>
	<input type = "text" name = "title">
	<textarea type = "text" placeholder = "Tell us how your day was" name = "userbody"></textarea>
	<input type = "submit">
</form>