<!-- Edit Account Details  -->
<div class = "userinfo">
	<h3><%=  @user.username  %></h3>
	<h3><%=  @user.first  %></h3>
	<h3><%=  @user.last  %></h3>
	<h3><%=  @user.email  %></h3> 
</div>

<form action="/post/<%= @user.id %>/profile" method="POST" class = "edits">
	<label for="first" class = "changename">First Name:</label>
	<input type="text" name="first" placeholder = "change your first name">
	<label for="last">Last Name:</label>
	<input type="text" name="last" placeholder = "change your last name">
	<label for="email" >Email:</label>
	<input type="text" name="email" placeholder = "change your email">
	<input type="submit" name = "Change">
</form>

<a href="/post/<%= @user.id %>/profile/delete" name="_method" value="delete">Delete My Account</a>